
body {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100%;
    text-align: center;    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center; 
    
    
  }

  #title {
    font-weight: 800;
    font-size: 3em;
    padding: 20px;
  }
  
  section {
    padding: 0 100px;
    
  }
  
  .boxBG {

    position: relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);

  }

  *, *::before, *::after {
    box-sizing: border-box;
    
  }
  #description {
    font-size: 20px;

  }

  
  #body {
    align-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  #survey-form {

    display: flex;
    flex-direction: column;
    align-items: center;



  }

  /* ENTER NAME */
  #name-label {
    position: relative;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  
  #name-label input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d38888;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    outline: none;
    font-size: 20px;
  }
  
  #name-label .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: rgb(3, 3, 3);
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  #name-label input.dirty + .placeholder,
  #name-label input:valid + .placeholder,
  #name-label input:focus + .placeholder {
    top: 10px;
    font-size: 15px;
    color: #222;
  }
  
    
  /*ENTER EMAIL*/
  #email-label {
    position: relative;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  
  #email-label input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #d38888;
    padding: 15px;
    border-radius: 3px;
    width: 400px;
    outline: none;
    font-size: 20px;
  }
  
  #email-label .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: rgb(3, 3, 3);
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  #email-label input.dirty + .placeholder,
  #email-label input:valid + .placeholder,
  #email-label input:focus + .placeholder {
    top: 10px;
    font-size: 15px;
    color: #222;
  }
  
    /*ENTER AGE*/
    #number-label {
        position: relative;
        font-size: 20px;
        padding-top: 20px;
        margin-bottom: 5px;
      }
      
      #number-label input {
        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #d38888;
        padding: 15px;
        border-radius: 3px;
        width: 400px;
        outline: none;
        font-size: 20px;
      }
      
      #number-label .placeholder {
        position: absolute;
        left: 12px;
        top: calc(50% + 10px);
        transform: translateY(-50%);
        color: rgb(3, 3, 3);
        transition: 
          top 0.3s ease,
          color 0.3s ease,
          font-size 0.3s ease;
      }
      
      #number-label input.dirty + .placeholder,
      #number-label input:valid + .placeholder,
      #number-label input:focus + .placeholder {
        top: 10px;
        font-size: 15px;
        color: #222;
      }

       /*ENTER PHONE*/
    #phone-label {
        position: relative;
        font-size: 20px;
        padding-top: 20px;
        margin-bottom: 5px;
      }
      
      #phone-label input {
        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #d38888;
        padding: 15px;
        border-radius: 3px;
        width: 400px;
        outline: none;
        font-size: 20px;
      }
      
      #phone-label .placeholder {
        position: absolute;
        left: 12px;
        top: calc(50% + 10px);
        transform: translateY(-50%);
        color: rgb(3, 3, 3);
        transition: 
          top 0.3s ease,
          color 0.3s ease,
          font-size 0.3s ease;
      }
      
      #phone-label input.dirty + .placeholder,
      #phone-label input:valid + .placeholder,
      #phone-label input:focus + .placeholder {
        top: 10px;
        font-size: 15px;
        color: #222;
      }
      /*Dropdown Menu*/
    

     #dropdown {         
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0!important;
        background: #d38888;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color:#222;
        cursor:pointer;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
     }
     select::-ms-expand {
        display: none;
     }
     .select {
                    
        display: flex;
        position: relative;
        width: 400px;
        height: 3em;
        line-height: 3;
        background: #d38888;
        overflow: hidden;
        border-radius: .25em;
     }
     .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #eceeee;
        cursor:pointer;
        pointer-events:none;
        transition:.25s all ease;
     }
     .select:hover::after {
        color: #c42b32;
     }
     /*Radio btn*/

     .radiostyle {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;  
        
     }

     /*Dropdown Menu*/
     

     h3 {
       
        font-weight: 600;
        font-size: 20px;
        padding: 2em;
    }
   

     .radio-btn {
        width: 25px;
        height: 25px;
        border: 2px solid #444;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 5px;
      }
      
      .radio-btn input {
        display: none;
      }
      
      .radio-btn .checkmark {
        width: calc(100% - 9px);
        height: calc(100% - 9px);
        border-radius: 50%;
        background: #ddd;
        opacity: 0;
        display: inline-block;
        transition: opacity 0.6s ease;
      }
      
      .radio-btn input:checked + span.checkmark {
        opacity: 1;
        background-color: #444;
      }
      /*Radio btn*/

      .checkBoxes {
        display: flex;
        flex-direction: column;
        
        
        
      }

      .checkboxBox input {
        display: none;
        padding-left: 100px;
        
    }
    .checkboxBox {
     
      display: inline-flex;
      margin-left: 125px;
      padding-left: 40px;
      position: relative;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 23px;
      user-select: none;

    }
    .checkboxBox .checkmark {

        
        width: 25px;
        height: 25px;
        background: #eee;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 3px;
                  
    }
    .checkboxBox input:checked + .checkmark {
        background-color: #222;
    }
    .checkboxBox:hover .checkmark {
        background-color: rgb(119, 117, 117);
    }

    .checkboxBox input:checked + .checkmark::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 9px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

/* TExt Area */
.box textarea {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  
  }
  
  .box textarea {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 15px;
    border-radius: 3px;
    width: 400px;
    outline: none;
    font-size: 20px;
  
}
      

  #submit[type="submit"]{
    width:590px;
    padding:20px;
    font-size:20px;
    border-radius:10px;
    border:none;
    margin-top:3%;
    color:white;
    background-color:gray;
    text-align: center;
    cursor: pointer;

  }
  #submit[type="submit"]:hover{
    background-color: rgb(36, 112, 112);
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: green;
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: red;
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90%{
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }